/* * {
    font-size: 22px;
} */
.header {
    height: auto;
    justify-content: center;
    display: flex;
    box-shadow: 1px 1px 4px 1px rgba(50, 50, 50, 0.77);
    border-radius: 8px;
    padding: 20px;
    width: 78%;
    /* max-width: 77vw;
    margin-left: 9%;
    margin-top: 5px; */
}

.img {
    width: 100%;
}

.filter {
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.vl {
    border-left: 2px solid #797979;
    height: 291px;
    margin-right: 30px;
  }

  .inputPay {
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    width: 91%;
  }

  .dollarSign {
      margin-right: 5px;
  }

  .divImageGift {
    background-color: red;
    width: 26.3%;
    height: 284px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 16px;
    margin-left: 9%;
    border: 5px solid red;
    flex-direction: column;
  }

  .divImageGiftTrue {
    /* background-color: red; */
    width: 26.3%;
    height: 284px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 16px;
    margin-left: 9%;
    border: 5px solid red;
  }

  .frete {
    width: 25%;
    margin-right: 3%;
  }

  .containerAlign {
      display: flex; 
      justify-content: center;
      align-items: center;
      flex-direction: column;
  } 

  .buttonFrete {
    width: 35px;
    height: 35px;
  }

  .buttonFrete:checked {
      background: red !important;
  }

  input[type='checkbox']:checked:before {
    background: red !important;

  }

  .surpreenda {
    width: 78%;
  }

  .itemsType {
      display: flex;
      width: 310px;
    height: 100px;
    flex-flow: row wrap;
    margin-top: 15px;
  }

  .itemType {
    border: 2px solid red;
    border-radius: 20px;
    margin: 0;
    height: 26px;
    font-size: 16px !important;
    color: red;
    margin-right: 5px;
}

.itemType:focus{
    background:red;
    color: white;
    /* border: red; */
}

.itemType:visited {
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox:checked {
    background: red;
}

.search {
    position: absolute;
    left: 30%;
    width: 17px;
    height: 17px;
    cursor: pointer;
    top: 51.8%;
}

.buttonSurpreenda {
    border: 2px solid red;
    border-radius: 15px;
    margin-top: 47%;
    height: 70px;
    font-size: 26px !important;
    color: white;
    margin-right: 5px;
    background-color: red;
    width: 270px;
    cursor: pointer;
    font-weight: 700;
}

.record {
    width: 25px;
    position: absolute;
    left: 28%;
    /* margin-right: 0px; */
    cursor: pointer;
    top: 51.3%;
}